# Dependencies
/node_modules

# Build output (Hardhat)
/artifacts
/artifacts-build-info  # Optional: if you commit artifacts, ignore this subfolder as it's huge
/cache


/typechain
/typechain-types

/dist

# Environment variables
.env
.env.local
.env.development
.env.production

# Editor files
.vscode/
.idea/

# OS files
.DS_Store

# Test coverage
/coverage
/coverage.json

# Vite cache (if using Vite for frontend)
.vite


/deployments/*
!deployments/.gitkeep  # Keep a placeholder if you want the folder structure